body
{
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	font-family: Arial, sans-serif;
	font-style: normal;
}

div.div_head
{
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: bold;

}

div.about, div.experience, div.contacts
{
	margin-left: 50px;
	font-family: Arial, sans-serif;
	font-style: normal;
}

div.contats:hover
{
	background: #f90;
}